<p id="notice"><%= notice %></p>
<div class="container">
<h1>Professors</h1>

<% if @professors.blank? %>
    <h4>No results found for "<%= params[:q] %>".Ensure that you are searching for a section number!</h4>
    <%=link_to "Professors", professors_path%>
<% end %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.name %></td>
        <td><%= link_to 'Show', professor %></td>
        <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
        <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Professor', new_professor_path %>
