<!DOCTYPE html>


<html>
  <head>
    <title>WebApp</title>
    <%= csrf_meta_tags %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!--note from here to the next comment was added via website ponzicoder -->
    <% if user_signed_in? %>
        Signed in as <%=current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <% end %>
    <!--END-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ="<%= controller.controller_name %>">

  <header class="navbar  navbar-inverse">
    <div class="navbar-class">
      <div class="container">


        <div id="banner">
    <%= image_tag 'USMC.jpeg', alt: 'USMC'%>
    <span class="title"><%= @page_title %></span>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <!--<li class="active"><a href="#">Home</a></li>-->
        <li><%=link_to "Professors", professors_path%></li>
        <li><%=link_to "Courses", courses_path%></li>
        <li><%=link_to "Sections", sections_path%></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
      </div>
    </div>
  </header>

  </body>
</html>
