<!DOCTYPE html>


<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <!--<p class="notice"><#%= notice %></p>-->
    <p class="alert"><%= alert %></p>
    <!--login/signup was here-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      p:hover, h1:hover, a:hover {
        background-color: transparent;
      }
    </style>
  </head>





  <body>
  <div class="container" id="navbarfull">
    <ul class="nav nav-pills" id="navbar">
      <li><%= link_to "Professors", professors_path %> </li>
      <li><%= link_to "Sections", sections_path %> </li>
      <li><%= link_to "Courses", courses_path%> </li>
      <li><%= link_to "Students", students_path%> </li>
      <li><%= link_to "Enrollments", enrollments_path%> </li>
      <div id="current-user">
        <% if user_signed_in? %>
            <span class="glyphicon glyphicon-user"> <%=current_user.email %></span>
            <p><strong> Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></strong></p>
        </div>
          <div id="search">
            <%= form_tag( @search_path, method: "get") do %>
              <%= label_tag(:q,"") %>
              <span class="glyphicon glyphicon-search"></span>
                <div class="searchbar">
                  <%= text_field_tag :q, params[:q], required: true %>
                    <!--<div class="submit">-->
                    <span class="submit"><%= submit_tag ' ', name: nil %></span>
                    <!--</div>-->
                </div>
            <% end %>
          </div>
    </ul>
        </div>


    <% else %>
    <div class="alert alert-warning" id="sign-up">
      <strong><p> You are not signed in!</p></strong>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Log in", new_user_session_path %>
    </div>
    <% end %>
    <div class="container-fluid" id="sidebarm">
      <!--<div class="row">-->
        <!--<div class="col-md-3 sidebar" id="sidebar">-->
        <!--</div>-->
          <div class="col-md2 col-md-offset-2 content" id="content">
            <%= yield %>
          </div>
      <!--</div>-->
    </div>

  </body>
</html>
