<!DOCTYPE html>


<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!--login/signup was here-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>





  <body>
  <div class="container">
    <ul class="nav nav-tabs  " id="navbar">
      <li><%= link_to "Professors", professors_path %> </li>
      <li><%= link_to "Sections", sections_path %> </li>
      <li><%= link_to "Courses", courses_path%> </li>

    <%= form_tag( @search_path, method: "get") do %>
                <%= label_tag(:q, "Search for:") %>
                <span class="glyphicon glyphicon-search"><%= text_field_tag :q, params[:q], required: true %></span>
                <%= submit_tag 'Search', name: nil %>
                <% end %>

      <div class="alert" id="current-user">
      <% if user_signed_in? %>
          <span class="glyphicon-search"><%=current_user.email %></span>
          <strong> Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></strong>


          </div>
      </ul>
                </div>


    <% else %>
    <div class="alert alert-warning" id="sign-up">
      <strong><p> You are not signed in!</p></strong>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Log in", new_user_session_path %>
    </div>
    <% end %>
    <div class="container-fluid" id="sidebarm">
      <div class="row">
        <div class="col-md-3 sidebar" id="sidebar">
        </div>
          <div class="col-md-9 col-md-offset-3 content" id="content">
            <%= yield %>
          </div>
      </div>
    </div>

  </body>
</html>
